# Pre-built CPU wheel untuk llama-cpp-python (hindari build dari source / butuh compiler C++)
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu

fastapi
uvicorn[standard]
python-multipart
pydantic

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

llama-cpp-python
sentence-transformers
chromadb
pymupdf 
rank_bm25

pymupdf

openai
ragas
python-dotenv
